<!--<?xml version="1.0" encoding="UTF-8"?>-->
<configuration scan="true" scanPeriod="60 seconds">
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <property name="A_CONSOLE_LOG_PATTERN"
              value="${A_CONSOLE_LOG_PATTERN:-%clr(%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd' 'HH:mm:ss.SSS}}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr([%X{trace_id}]){magenta} %clr([%25t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%ex}}"/>

    <appender name="consoleLogAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${A_CONSOLE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="consoleLogAppender"/>
    </root>
</configuration>